__pycache__/
*.pyc

# Environnements virtuels
venv/
.venv/

# Builds / artefacts
build/
dist/
*.spec

# Données et logs locales
data/
ticket_app/logs/

# IDE / éditeurs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
